DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
POLLING_INTERVAL_MS=300000
YOUTUBE_API_KEY=
